<% 
const session = LightBlog.getSession(response, request);

if (!session)
{
    response.redirect(LightBlog.INDEX_PATH, true, false);
    return "";
}
%> 
<!DOCTYPE html>  
<html> 
    <head>  
        <title>Dashboard - LightBlog</title>

        <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" onload="if(media!='all')media='all'" />
        <link href="<%= LightBlog.ADMIN_STYLE_PATH %>" rel="stylesheet" media="screen" onload="if(media!='all')media='all'">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>         
    <body> 
        <div class="topbar">
            <a href="index">Control Panel</a> / 
        </div>
        <div class="links">
            <a href="add">New Post</a>
            <a href="logout">Logout</a>
        </div> 
        <div class="posts"> 
            <% const posts = await LightBlog.getPosts("-1"); %> 
            <% if (posts) { %> 
                <% for (const post of posts) {%>
                    <div class="postBox">
                        <div class="postHeader">
                            <% if (post.isHidden) { %><div class="postHidden" style=>Hidden</div> <% } %>
                            <a class="postTitle" href="edit?<%= post.id %>"><%= post.title %></a>
                            <div class="postDate"><%= post.date %> - <%= post.author %></div>
                        </div>
                    </div>
                <% } %>
            <% } else { %> 
                <h1>Unable to fetch posts.</h1>
            <% } %> 
        </div>
    </body>
</html>   