<!DOCTYPE html>  
<html>
    <head>  
        <title>LightBlog <%= Math.random() %></title>
        <link href="<%= LightBlog.STYLE_PATH %>" rel="stylesheet" media="screen">
  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>           
    <body>  
        <div class="header-nav">
			<a href="/"><img class="logo-header" src="https://vldr.org/manager/images/ui/logo-big.png"></a>
			<ul class="navbar">
				<li><a href="http://vldr.org/index.html">Home</a></li>
				<li><a href="http://vldr.org/manager/">Vault</a></li>
				<li><a href="http://vldr.org/legal.html">Legal</a></li>
			</ul>
		</div>

        <% const posts = await LightBlog.getPosts(request.getQueryString() || "0"); %> 
        <% if (posts) { %> 
            <% response.cache = true; %> 
            <div class="content"> 
                <% for (const post of posts) {%>
                    <div class="postBox">
                        <% if (post.coverPhoto) { %> 
                            <div class="coverPhoto" style="background-image:url('<%= post.coverPhoto %>')"></div>
                        <% } %>

                        <div class="postHeader">
                            <a class="postTitle" href="view?<%= post.id %>"><%= post.title %></a>
                            <div class="postDate"><%= post.date %> - <%= post.author %></div>
                        </div>
                        <div class="postContent">
                            <p><%- marked(post.content) %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </body>
</html>  