<!DOCTYPE html>  
<html>
    <head>  
        <title>Lightblog</title>
        <link href="style.css" rel="stylesheet" media="screen">
    </head>         
    <body>
        <% const posts = LightBlog.fetchHomepage(); %> 
        <% if (posts) { %> 
            <div class="content">
                <% for (const post of posts) {%>
                    <div class="postBox">
                        <% if (post.coverPhoto) { %> 
                            <div class="coverPhoto" style="background-image:url('<%= post.coverPhoto %>')"></div>
                        <% } %> 

                        <div class="postHeader">
                            <a class="postTitle" href="view?<%= post.title.replace(" ", "-").toLowerCase() %>"><%= post.title %></a>
                            <div class="postDate"><%= post.date %></div>
                        </div>
                        <div class="postContent">
                            <p><%- post.content %></p>
                        </div>
                        <div class="postFooter">
                            <span class="postAuthor"><%= post.author %></span>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %> 
            <h1>Unable to fetch posts.</h1>
        <% } %> 
    </body>
</html>  