<% 
const post = await LightBlog.getPost(request.getQueryString());

if (!post)  
{
    response.redirect("/", true, true); 
    return "";
}

response.cache = true;
%>

<!DOCTYPE html>  
<html>  
    <head>  
        <title><%= post.title %></title>

        <link href="<%= LightBlog.STYLE_PATH %>" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre" media="all" onload="if(media!='all')media='all'">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>          
    <body>
        <div class="header-nav header-nav-post">
			<a href="/"><img class="logo-header" src="https://vldr.org/manager/images/ui/logo-big.png"></a>
			<ul class="navbar"> 
				<li><a href="http://vldr.org/index.html">Home</a></li>
				<li><a href="http://vldr.org/manager/">Vault</a></li>
				<li><a href="http://vldr.org/legal.html">Legal</a></li>
			</ul>
		</div>

        <div class="content">
            <div class="postBox postBoxOnPage">
                <% if (post.coverPhoto) { %> 
                    <div class="coverPhotoOnPage" 
                        style="background-image:url('<%= post.coverPhoto %>')">
                    </div>
                <% } else { %>
                    <div class="coverlessPhotoOnPage"></div>
                <% } %> 
                
                <div class="viewContainer">
                    <div class="postHeader">
                        <h1 class="postTitleOnPage"><%= post.title %></h1>
                        <span class="postDate"><%= post.date %> - <%= post.author %></span>
                    </div>
                    <div class="postContent">
                        <p><%- marked(post.content) %></p>
                    </div>
                    <div class="postFooter"></div>
                </div>
            </div>
        </div>
    </body>
</html>  