<% 
const session = LightBlog.getSession(response, request);

if (!session)
{
    response.redirect(LightBlog.INDEX_PATH, true, false);
    return "";
}

////////////////////////////////////////////////

const post = await LightBlog.getPost(request.getQueryString(), true);

if (!post) 
{
    response.redirect(LightBlog.DASHBOARD_PATH, true, false); 
    return ""; 
}

%> 
<!DOCTYPE html>  
<html> 
    <head>  
        <title><%= post.title %> - LightBlog</title>

        <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" onload="if(media!='all')media='all'" />
        <link href="<%= LightBlog.ADMIN_STYLE_PATH %>" rel="stylesheet" media="screen" onload="if(media!='all')media='all'">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" onload="if(media!='all')media='all'">>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>         
    <body> 
        <div class="topbar">
            <a href="index">Control Panel</a> / <a id="title-top"><%= post.title %></a>
        </div>
        <div id="form-ext">  
            <div class="form-group">
                <div class="form-group-header">
                    <label>ID</label> 
                </div>
                <div class="form-group-body">
                    <input class="form-control disabled" id="post-id" disabled type="text" value="<%= post.id %>" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="form-group-header">
                    <label>Creation Date</label> 
                </div>
                <div class="form-group-body">
                    <input class="form-control disabled" disabled type="text" value="<%= post.date %>" />
                </div>
            </div>
            
            <!--------------------------------------------------------->

            <div class="form-group">
                <div class="form-group-header">
                    <label>Title</label>
                    <span class="info-span" id="info-title"></span>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" value="<%= post.title %>" id="title" />
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-header">
                    <label>Cover Photo (url)</label>
                    <span class="info-span" id="info-cover-photo"></span>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" value="<%= post.coverPhoto %>" id="cover-photo" />
                </div>

                <div style="background-image:url('<%= post.coverPhoto %>')" id="cover-photo-preview" class="form-image-preview"></div>
            </div>

            <div class="form-group">
                <div class="form-group-header">
                    <label>Preview Content</label>
                    <span class="info-span" id="info-preview-content"></span>
                </div>
                <div class="form-group-body">
                    <textarea rows="8" cols="90" id="preview-content"><%= post.previewContent %></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-header">
                    <label>Content</label>
                    <span class="info-span" id="info-content"></span>
                </div>
                <div class="form-group-body">
                    <textarea rows="8" cols="90" id="content"><%= post.content %></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-body">
                    <div class="form-checkbox">
                        <input type="checkbox" <% if (post.isHidden) { %><%= "checked" %><% } %> id="hidden" />
                            Hidden
                        </label>
                        <span class="info-span" id="info-hidden"></span>
                        <p class="note">
                            Enabling this will <strong>hide</strong> the post from the public!
                        </p>
                    </div>
                </div>
            </div>  
            
            <div class="form-group" style="padding-top: 22px;margin-top: 25px;border-top: 1px solid #c5c5c5;">
                <div class="form-group-body">
                    <details>
                        <summary class="btn btn-danger">Delete</summary>
                        <div class="border p-3 mt-2">
                            <span>This action <b>cannot</b> be undone. This will permanently delete the post. 
                                Enter the title of the post to delete it.
                            </span>
                            <span class="info-span" id="info-delete"></span><br><br>

                            <input class="form-control" type="text" id="delete" /><br><br>
                            <button type="button" id="delete-post" class="btn btn-danger" >Delete</button>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            var previewContent = new SimpleMDE({ element: document.getElementById("preview-content"), autosave: { enabled: true } });
            var content = new SimpleMDE({ element: document.getElementById("content"), autosave: { enabled: true } });
            
            let inputTimeoutContent;
            content.codemirror.on("change", () =>
            {
                document.getElementById("info-content").textContent = "Saving...";
                document.getElementById("info-content").style = "";

                if (inputTimeoutContent)
                    clearTimeout(inputTimeoutContent);

                inputTimeoutContent = setTimeout(() => {
                    fetch("/admin/update/post", { 
                        method: "POST",
                        body: JSON.stringify({
                            "id": document.getElementById("post-id").value,
                            "content": content.value()
                        })
                    }) 
                    .then(response => response.json())
                    .then((data) => 
                    {
                        if (data.success) 
                        {
                            document.getElementById("info-content").textContent = "Autosaved! " + new Date().toString();
                        }
                        else
                        {
                            document.getElementById("info-content").textContent = "Failed to autosave!";
                            document.getElementById("info-content").style = "color:red;";
                        }
                    });
                }, 500);
            });

            let inputTimeoutPreviewContent;
            previewContent.codemirror.on("change", () =>
            {
                document.getElementById("info-preview-content").textContent = "Saving...";
                document.getElementById("info-preview-content").style = "";

                if (inputTimeoutPreviewContent)
                    clearTimeout(inputTimeoutPreviewContent);

                inputTimeoutPreviewContent = setTimeout(() => {
                    fetch("/admin/update/post", { 
                        method: "POST",
                        body: JSON.stringify({
                            "id": document.getElementById("post-id").value,
                            "previewContent": previewContent.value()
                        })
                    }) 
                    .then(response => response.json())
                    .then((data) => 
                    {
                        if (data.success) 
                        {
                            document.getElementById("info-preview-content").textContent = "Autosaved! " + new Date().toString();
                        }
                        else
                        {
                            document.getElementById("info-preview-content").textContent = "Failed to autosave!";
                            document.getElementById("info-preview-content").style = "color:red;";
                        }
                    });
                }, 500);
            });
            
            let inputTimeoutTitle;
            document.getElementById("title").oninput = function(event) 
            {
                document.getElementById("info-title").textContent = "Processing...";
                document.getElementById("info-title").style = "";

                if (inputTimeoutTitle)
                    clearTimeout(inputTimeoutTitle);

                inputTimeoutTitle = setTimeout(() => {
                    fetch("/admin/update/post", { 
                        method: "POST",
                        body: JSON.stringify({
                            "id": document.getElementById("post-id").value,
                            "title": document.getElementById("title").value
                        })
                    }) 
                    .then(response => response.json())
                    .then((data) => {
                        if (data.success)
                        {
                            document.getElementById("info-title").textContent = "Autosaved! " + new Date().toString();
                            document.getElementById("title-top").textContent = document.getElementById("title").value;
                            document.title = `${document.getElementById("title").value} - LightBlog`;

                            window.history.pushState(null, 
                                document.title,
                                `edit?${data.id}`
                            );

                            document.getElementById("post-id").value = data.id;
                        }
                        else
                        {
                            document.getElementById("info-title").textContent = "Invalid title provided, unable to save.";
                            document.getElementById("info-title").style = "color:red;";
                        }
                    });
                }, 500);
            };

            let inputTimeoutCoverPhoto;
            document.getElementById("cover-photo").oninput = function(event) 
            {
                document.getElementById("info-cover-photo").textContent = "Processing...";
                document.getElementById("info-cover-photo").style = "";

                if (inputTimeoutCoverPhoto)
                    clearTimeout(inputTimeoutCoverPhoto);

                inputTimeoutCoverPhoto = setTimeout(() => {
                    fetch("/admin/update/post", { 
                        method: "POST",
                        body: JSON.stringify({
                            "id": document.getElementById("post-id").value,
                            "coverPhoto": document.getElementById("cover-photo").value
                        })
                    }) 
                    .then(response => response.json())
                    .then((data) => {
                        if (data.success)
                        {
                            document.getElementById("info-cover-photo").textContent = "Autosaved! " + new Date().toString();
                            document.getElementById("cover-photo-preview").style = `background-image:url('${document.getElementById("cover-photo").value}')`;
                        }
                        else
                        {
                            document.getElementById("info-cover-photo").textContent = "Unable to save.";
                            document.getElementById("info-cover-photo").style = "color:red;";
                        }
                    });
                }, 500);
            };

            let inputTimeoutHidden;
            document.getElementById("hidden").onclick = function(event) 
            {
                document.getElementById("info-hidden").textContent = "Processing...";
                document.getElementById("info-hidden").style = "";

                inputTimeoutHidden = setTimeout(() => {
                    fetch("/admin/update/post", { 
                        method: "POST",
                        body: JSON.stringify({
                            "id": document.getElementById("post-id").value,
                            "hidden": event.target.checked ? "1" : "0"
                        })
                    }) 
                    .then(response => response.json())
                    .then((data) => {
                        if (data.success)
                        {
                            document.getElementById("info-hidden").textContent = "Autosaved! " + new Date().toString();
                        }
                        else
                        {
                            document.getElementById("info-hidden").textContent = "Unable to save.";
                            document.getElementById("info-hidden").style = "color:red;";
                        }
                    });
                }, 500);
            };

            document.getElementById("delete-post").onclick = function(event) 
            {
                document.getElementById("info-delete").textContent = "Processing...";
                document.getElementById("info-delete").style = "";

                if (document.getElementById("delete").value != document.getElementById("title").value)
                {
                    document.getElementById("info-delete").textContent = "Does not match title.";
                    document.getElementById("info-delete").style = "color:red;";

                    return;
                }

                fetch("/admin/update/post", { 
                    method: "POST",
                    body: JSON.stringify({
                        "id": document.getElementById("post-id").value,
                        "delete": "1"
                    })
                }) 
                .then(response => response.json())
                .then((data) => {
                    if (data.success)
                    {
                        window.location.replace("<%= LightBlog.DASHBOARD_PATH %>");
                    }
                    else
                    {
                        document.getElementById("info-delete").textContent = "Unable to delete post.";
                        document.getElementById("info-delete").style = "color:red;";
                    }
                });
            };
        </script>

    </body>
</html>   